/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}
#login-otp-box{
 display:none;	
}

.not-active {
  pointer-events: none;  
  visibility:hidden;  
}

.nav a.nav-link, .nav label {
  display: block;
 padding: .6rem;
  color: #fff;
 
 
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
.nav a.parent-link{
  color: #fff;
 
 
}

.nav a.nav-link:focus, .nav a.nav-link:hover,  .nav label:focus, .nav label:hover {
  color: rgba(255, 255, 255, 0.5);
 
}



.nav label { cursor: pointer; }

/**
 * Styling first level lists items
 */

.group-list-1 a.nav-link, .group-list-1 label {
  padding-left: 2rem;
 
 
}

.group-list-1 a.parent-link{
 
  
}

.group-list-1 a.nav-link:focus, .group-list-1 a.nav-link:hover,.group-list-1 label:focus, .group-list-1 label:hover { }

/**
 * Styling second level list items
 */

.group-list-2 a.nav-link, .group-list-2 label {
  padding-left: 4rem;
  
  
}

.group-list-2 a.parent-link{
 
  
}

.group-list-2 a.nav-link:focus, .group-list-2 a.nav-link:hover, .group-list-2 label:focus, .group-list-2 label:hover {  }

/**
 * Styling third level list items
 */

 
.group-list-3 a.nav-link, .group-list-3 label {
  padding-left: 6rem;
 
 
}

.group-list-3 a.parent-link{
  
  
}
.group-list-3 a.nav-link:focus, .group-list-3 a.nav-link:hover, .group-list-3 label:focus, .group-list-3 label:hover {  }

/**
 * Hide nested lists
 */

.group-list-1, .group-list-2, .group-list-3 {
  height: auto;
  display: none;
  -webkit-transition: display .5s ease-in-out;
  transition: display .5s ease-in-out;
  list-style:none;
}
/**
 * Rotating chevron icon
 */

.nav__list label > span {
  float: right;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}
.nav__list, .nav__list ul {
	 list-style:none;
	 padding:0px;
	 margin:0px;
}

.nav__list span.menu-active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.left-menu, .left-menu .page, .left-menu .page .navbar,.right-menu, .right-menu .page, .right-menu .page .navbar {
	background: rgb(94, 21, 133) none repeat scroll 0% 0%;
	color:#fff;
}
.center {
    margin: 0 auto;
    display: block;
	text-align:center;
}
.vcenter{
	vertical-align: middle;
	display: inline-block;
}


.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
}
.demo-facebook-card .demo-facebook-avatar-right {
  float: right;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
  
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
  
}

.demo-facebook-card .demo-facebook-name-right {
  margin-right: 44px;
  font-size: 14px;
  font-weight: 500;
  text-align:right;
}
.demo-facebook-card .demo-facebook-date-right {
  margin-right: 44px;
  font-size: 13px;
  color: #8e8e93;
  text-align:right;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
  width:100%;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

#chat_input{
width: 100%;
border: 1px solid #999;
border-radius: 4px;	
max-height:80px;
height:80px;
padding:10px;
}
.textinput{
  border: 2px solid #999 !important;
  border-radius: 4px !important;
}
#chat_content{
height: 70vh;
overflow-y: scroll;
}
.send-button {
    width: 50px;
}
.chat_box.toolbar-bottom{
	height:100px;
}
.chat_box .toolbar-inner{
	height:100px;
}
.attachment-dailog .dialog-buttons{
	
	height:auto;
}
.attachment-dailog .dialog-buttons .dialog-button{
	
	height:auto;
}
.attachment-dailog .dialog-buttons .dialog-button img{
	width:100%;
}
.img_c {
    height: 150px;
    overflow: hidden;
}
.orderreview{
	height:100vh;
}
.discounted_price{
	color:#024fb8;
}
.regular_price{
	color:#cd3232;
}
.card-content.card-content-padding.category_box {

	text-align: center;
	
	min-height: 60px;

}
.red{
	color:#E74C3C;
	font-weight:bold;
}
