<template>
  <div class="page" data-name="addAddress">
   	<div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">Address</div>
      </div>
    </div>
    <div class="page-content">
		<div class="row">
      <div class="col-100">
       <div class="card">
					<div class="card-content card-content-padding">
            <div class="list">
              <ul id="NewAddress">
                <li>
                  <label>
                    Contact No
                 <input class="textinput" type="text"  maxlength="10" pattern="\d*" name="ContactNo" id="ContactNo" onblur="allnumeric(this)">
                  </label>
                </li>
                <li>
                <label  id="addr1">
                  Address1
                 <input class="textinput" type="text" name="address1" id="address1">
                </label>
                </li>
                <li>
                  <label>
                    Address2
                 <input class="textinput" type="text" name="address2" id="address2">
                 </label>
                 </li>
                <li>
                  <label>
                    LandMark
                 <input class="textinput" type="text" name="LandMark" id="LandMark">
                 </label>
                 </li>
                <li>
                  <label>
                    State
                 <input class="textinput" type="text" name="State" id="State">
                  </label>
                </li>
                <li>
                  <label>
                    City
                 <input class="textinput" type="text" name="City" id="City">
                  </label>
                </li>
                <li>
                  <label>
                    Zip
                 <input class="textinput" type="text" name="Zip" id="Zip">
                  </label>
                </li>
                
                <li>
                 <input class="button button-raised button-fill" type="button" onclick="addAddress();" value="Add New Address"/>
                </li>
              </ul>
            </div>
          </div>
       </div>
      </div>
		
			
		</div>
    
    </div>
  </div>
</template>
<script>
  return {};	
</script>
