<template>
   <div class="page" data-name="cart">
   	<div class="navbar">
		<div class="navbar-inner sliding">
		  <div class="left">
			<a href="#" class="link icon-only panel-open" data-panel="left">
			  <i class="icon f7-icons ios-only">menu</i>
			  <i class="icon material-icons md-only">menu</i>
			</a>
		  </div>
		  <div class="title sliding">Cart</div>
		  <div class="right">
			<a href="#" class="link icon-only panel-open" data-panel="right">
			  <i class="icon f7-icons ios-only">menu</i>
			  <i class="icon material-icons md-only">menu</i>
			</a>
		  </div>
		</div>
	</div>
    <div class="page-content">
		<div class="row">
			<div class="col-100">
				<div class="card">
					<div class="card-header">{{cart.message}}</div>
					{{#if cart.cartdetail.item}}
					{{#if cart.cartdetail.item.length}}
					<div class="card-content card-content-padding">
					 <h4>Cart Total Price(Regular): <span>&#x20B9; {{cart.cartdetail.RegularTotalPrice}}</span></h4>
					 <h4>Cart Total Price(Discounted): <span>&#x20B9; {{cart.cartdetail.DiscountedTotalPrice}}</span></h4>
					</div>
					{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
		{{#if cart.cartdetail}}
		{{#if cart.cartdetail.item}}
		{{#if cart.cartdetail.item.length}}
		<div class="row">
			<div class="col-100">
				<div class="card">
					<div class="card-header">Cart Item(s)</div>
					<div class="card-content card-content-padding">
						<div class="list accordion-list">
							<ul>
								{{#each cart.cartdetail.item}}
								<li class="accordion-item">
									<a href="#" class="item-content item-link">
										<div class="item-inner">
											<div class="item-title">{{CartItemName}}</div>
										</div>
									</a>
									<div class="accordion-item-content">
										<div class="block">
											<div class="list simple-list">
												  <ul>
													
													<li>Qty:<span>{{CartItemQty}}</span></li>
													<li>Regular. Price:<span>&#x20B9; {{CartItemRegularPrice}}</span></li>
													<li>Discounted. Price:<span>&#x20B9; {{CartItemDiscountedPrice}}</span></li>
													<li>Total Price(Regular):<span>&#x20B9; {{CartItemRegularRowTotal}}</span></li>
													<li>Total Price(Discounted):<span>&#x20B9; {{CartItemDiscountedRowTotal}}</span></li>
													
												  </ul>
											</div>
											
										</div>
										<div class="block">
											<div class="list simple-list">
												<ul>
													<li>
														<span onclick="updateItem({{CartItemQty}},-1,{{CartMedicineId}});">
															<img src="images/minus.png" class="center" width="30" />
														</span>
														<span>1</span>
														<span onclick="updateItem({{CartItemQty}},1,{{CartMedicineId}});">
															<img src="images/plus.png" class="center" width="30" />
														</span>
														<span onclick="removeItem({{CartMedicineId}});">
															<img src="images/trash.png" class="center" width="30" />
														</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								{{/each}}
							</ul>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-100">
				<div class="card">
					<div class="card-content card-content-padding">
						 <span>Subscribe Every Month</span>
						  <label class="toggle toggle-init color-blue" id="monthlysbuscribe">
							<input type="checkbox" {{#if cart.cartdetail.MonthlySubscription}} checked {{/if}} >
							<span class="toggle-icon"></span>
						  </label>
						  <em class="red">
							  <ul>
								<li>
									
										Subsequent order will auto generate on 5th of every month once this order get confirmed.
									
								</li>
								<li>
									
										Payment mode for subsequent orders will be "COD" or "Direct Debit(Company)"
									
								</li>
							  </ul>
						  </em>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-100">
				<div class="card">
					<div class="card-content card-content-padding">
						<a class="button button-raised button-fill" href="/checkout/">Proceed To Checkout</a>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		{{/if}}
		{{/if}}
		
    </div>
  </div>
</template>
