<template>
  <div class="page" data-name="home">
   	<div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">{{category.CategoryName}}</div>
      </div>
    </div>
    <div class="page-content">
		{{#if category.SubCategories.length}}
		<div class="row">
		
				{{#each category.SubCategories}}
					
					<div class="col-50">
						<a href="/category/{{id}}/{{name}}/1">
							<div class="card">
								
									<div class="card-content card-content-padding category_box">
										<h5>{{name}}</h5>									
									</div>
								
							</div>
						</a>
					</div>
					
				{{/each}}
		</div>
		{{/if}}
		{{#if category.CategoryId}}
		<div class="row">
            {{#if category.TotalPage}}
                <div class="col-100" style="padding: 15px;">
                    <div style="float:left;">
                    {{#if category.PrevPage}}
                    <a href="/category/{{category.CategoryId}}/{{category.CategoryName}}/{{category.PrevPage}}" class="button button-raised button-fill">Prev</a>
                    {{else}}
                    <a class="button button-outline">Prev</a>
                    {{/if}}
                    </div>
                    <div style="float:right;">
                    {{#if category.NextPage}}
                     <a href="/category/{{category.CategoryId}}/{{category.CategoryName}}/{{category.NextPage}}" class="button button-raised button-fill">Next</a>
                    {{else}}
                    <a class="button button-outline">Next</a>
                    {{/if}}
                    </div>
                </div>
            {{/if}}
                
            
           
			{{#each category.CategoryProducts}}
            
			<div class="col-100">
				<div class="card">
					<div class="card-header">{{Medicinename}}</div>
						<div class="card-content card-content-padding">
						<span>{{Brandname}}</span>
						</div>
					<div class="card-footer"><span class="discounted_price">Price: &#8377;{{DiscountedPrice}} <strike class="regular_price">&#8377;{{RegularPrice}}</strike></span><span onclick="addtocart({{MedicineId}});"><img src="images/addtocart.png" class="center" width="30" /></span></div>
				</div>
			</div>
			{{else}}
			<div class="col-100">
				<div class="card">
					
						<div class="card-content card-content-padding">
						 No Products Found.
						</div>
					
				</div>
			</div>
			{{/each}}
            
            {{#if category.TotalPage}}
                <div class="col-100" style="padding: 15px;">
                    <div style="float:left;">
                    {{#if category.PrevPage}}
                    <a href="/category/{{category.CategoryId}}/{{category.CategoryName}}/{{category.PrevPage}}" class="button button-raised button-fill">Prev</a>
                    {{else}}
                    <a class="button button-outline">Prev</a>
                    {{/if}}
                    </div>
                    <div style="float:right;">
                    {{#if category.NextPage}}
                     <a href="/category/{{category.CategoryId}}/{{category.CategoryName}}/{{category.NextPage}}" class="button button-raised button-fill">Next</a>
                    {{else}}
                    <a class="button button-outline">Next</a>
                    {{/if}}
                    </div>
                </div>
            {{/if}}
			
		</div>
		{{/if}}
		
		
    </div>
  </div>
</template>
<script>
  return {};	
</script>
