<template>
  <div class="page" data-name="cart">
   	<div class="navbar">
      <div class="navbar-inner">
        
        <div class="title">Checkout</div>
		<div class="right">
          <a href="#" class="link back">
            <i class="icon material-icons md-only">close_round_fill</i>
            <span class="ios-only">Close</span>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
        <div class="row">
		   <div class="col-100">
				<div class="card">
				   <div class="card-content card-content-padding">
				   
						<div class="list">
						  <ul>
							
							<li>							 
							  <a href="#" class="item-link smart-select smart-select-init" id="select-address" data-open-in="popup"  data-searchbar="true" data-searchbar-placeholder="Search Address">
								
								<select name="address">
								
								
									<option value="0">Select</option>
									{{#each helper.data.Addresses}}
										
										<option value="{{EmployeeAddressId}}" >
											
											{{AddressLine1}}, {{AddressLine2}}, {{LandMark}}, {{City}},	{{State}}-{{Zipcode}}, {{ContactNo}}								
										</option>
									{{/each}}
								
								</select>
								<div class="item-content">
								  <div class="item-inner">
									<div class="item-title">Delivery Address</div>
								
								  </div>
                                  
                                  
								</div>
                                
							  </a>
                              
							</li>
							<li>							 
							  <a href="#" class="item-link smart-select smart-select-init" id="select-payment" data-open-in="sheet">
								
								<select name="payment">
								
									<option value="0">Select</option>
								
									{{#each helper.data.PaymentMethods}}
										<option value="{{PaymentType}}" {{#unless PaymentTypeStatus}} disabled="disabled" {{/unless}} >{{PaymentTypeName}}</option>
									{{/each}}
								
								</select>
								<div class="item-content">
								  <div class="item-inner">
									<div class="item-title">Payment Mode</div>
									
								  </div>
								</div>
							  </a>
							</li>
							<li id="emi_block" style="display:none;">							 
							  <a href="#" class="item-link smart-select smart-select-init" id="select-emi" data-open-in="sheet">
								
								<select name="emi">
									
									<option value="0">Select</option>
								
									{{#each helper.data.Emi}}
										<option value="{{EmiPlanId}}" {{#unless Status}} disabled="disabled" {{/unless}} >{{EmiPlanName}} (EMI Amount: &#x20B9; {{EmiAmount}})</option>
									{{/each}}
								
								</select>
								<div class="item-content">
								  <div class="item-inner">
									<div class="item-title">EMI Mode</div>
									
								  </div>
								</div>
							  </a>
							</li>
							
						  </ul>
						</div>
					</div>
				</div>
			</div>
	  </div>
	  <div class="row" id="regular_placeorder" style="display:none;">
		<div class="col-100">
			<div class="card">
				<div class="card-header">Cart Total: &#x20B9; {{helper.data.RegularTotalPrice}}</div>
				<div class="card-content card-content-padding">
					<a class="button button-raised button-fill" onclick="placeorder('{{helper.data.CartIdentifire}}')" >Proceed Order</a>
				</div>
			</div>
		</div>
	  </div>
	  <div class="row" id="discounted_placeorder" style="display:none;">
		<div class="col-100">
			<div class="card">
				<div class="card-header">Cart Total: &#x20B9; {{helper.data.DiscountedTotalPrice}}</div>
				<div class="card-content card-content-padding">
					<a class="button button-raised button-fill" onclick="placeorder('{{helper.data.CartIdentifire}}')" >Proceed Order</a>
				</div>
			</div>
		</div>
	  </div>
    </div>
  </div>
</template>
<script>
  return {};

</script>
