<template>
  <div class="page" data-name="home">
   	<div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">My Emi's</div>
      </div>
    </div>
    
		<div class="toolbar tabbar toolbar-top">
				<div class="toolbar-inner">
				  <a href="#tab-1" class="link tab-link tab-link-active">Current Month</a>
				  <a href="#tab-2" class="link tab-link">All Schedules</a>
				</div>
		</div>
		<div class="tabs-swipeable-wrap">
			
			<!-- Tabs, tabs wrapper -->
			<div class="tabs">
				<!-- Tab 1, active by default -->
				<div id="tab-1" class="page-content tab tab-active">
				  	{{#if emidetail.EMI.Current.Schedules.length}}
					   <div class="card">
						  <div class="card-header">{{emidetail.EMI.Current.Month}}<span>&#x20B9;{{emidetail.EMI.Current.Total}}</span></div>
						  <!-- card content -->
						  <div class="card-content card-content-padding">
							<div class="list simple-list">
							  <ul>
								{{#each emidetail.EMI.Current.Schedules}}
								<li><a href="/orderdetails/{{OrderId}}/{{OrderIdentifier}}/">{{OrderIdentifier}}</a><span>&#x20B9; {{Amount}}</span></li>
								{{/each}}
							  </ul>
							</div>
						  </div>
					   </div>
					{{else}}
					<h5 class="center">No Schedules Found</h5>
					{{/if}}
				</div>
				<!-- Tab 2 -->
				<div id="tab-2" class="page-content tab">
				  {{#if emidetail.Orders.length}}
					<div class="card">
						<div class="card-content card-content-padding">
							<div class="list accordion-list">
								<ul>
								{{#each emidetail.Orders}}
									<li class="accordion-item">
										<a href="#" class="item-content item-link">
											<div class="item-inner">
												<div class="item-title">{{OrderIdentifier}}</div>
											</div>
										</a>
										<div class="accordion-item-content">
											<div class="block">
												<div class="list simple-list">
													  <ul>
														{{#each EMI}}
														<li>{{Month}}<span>&#x20B9; {{Amount}}</span></li>
														{{/each}}
														<li><a href="/orderdetails/{{OrderId}}/{{OrderIdentifier}}/">View Order Details</a></li>
													  </ul>
												</div>
											</div>
										</div>
									</li>
								{{/each}}	
								</ul>
							</div>
						</div>
					</div>
					
				  {{else}}
					<h5 class="center">No Schedules Found</h5>
				  {{/if}}
				</div>
				
			</div>
		</div>
		

  </div>
</template>
<script>
  return {};	
</script>
