<template>
<div class="page" data-name="home">
  <!-- Top Navbar -->
	<div class="navbar">
	<div class="navbar-inner">
	  <div class="left">
		<a href="#" class="link icon-only panel-open" data-panel="left">
		  <i class="icon f7-icons ios-only">menu</i>
		  <i class="icon material-icons md-only">menu</i>
		</a>
	  </div>
	  <div class="title sliding">Onestoppharma</div>
	  <div class="right">
		<a href="#" class="link icon-only panel-open" data-panel="right">
		  <i class="icon f7-icons ios-only">menu</i>
		  <i class="icon material-icons md-only">menu</i>
		</a>
	  </div>
	</div>
	</div>

	<!-- Scrollable page content-->
	<div class="page-content">
		<div class="row">
			<div class="col-50">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/chat.png" class="center" width="50" >
							<p>Order By Support.</p>
							
							<a href="#" onclick="chat.open();" class="button button-raised button-fill">Open</a>
							</div>
						</div>					
					</div>				
				</div>
			</div>
			<div class="col-50">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/selforder.png" class="center" width="50" >
							<p>Order By Self.</p>
							
							<a href="/category/1/All Category/1" class="button button-raised button-fill">Explore</a>
							</div>
						</div>					
					</div>				
				</div>
			</div>					
		</div>
		<div class="row">
			
			<div class="col-50">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/orders.png" class="center" width="50" >
							<p>My Orders</p>
							<a href="/allorder/" class="button button-raised button-fill">View</a>
							</div>
						</div>					
					</div>				
				</div>
			</div>	
			<div class="col-50">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/emi.png" class="center" width="50" >
							<p>My EMI's</p>
							<a href="/myemi/" class="button button-raised button-fill">View</a>
							</div>
						</div>					
					</div>				
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-50" style="display: none;">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/subscriptions.png" class="center" width="50" >
							<p>My Subscriptions</p>
							<a href="/subscription/" class="button button-raised button-fill">View</a>
							</div>
						</div>					
					</div>				
				</div>
			</div>	
			<div class="col-50">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="center">
							<img src="images/wallet.png" class="center" width="50" >
							<p>My Credit Balance</p>
							<a id="mycreditbalance" class="button button-raised button-fill"><img src="images/balance_load.gif" class="center vcenter" width="30" ></a>
							</div>
						</div>					
					</div>				
				</div>
			</div>
		</div>		
	</div>
</div>

</template>