<template>
  <div class="page" data-name="home">
   	<div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">{{orderdetail.OrderIdentifier}}</div>
      </div>
    </div>
    <div class="page-content">
		
				<div class="card">
					<div class="card-header">Order Details<span>Status: {{orderdetail.data.OrderStatus}}</span></div>
						<div class="card-content card-content-padding">
							<div class="row">
								<div class="col-50">{{orderdetail.data.orderitemdetails.length}} Item(s) </div>
								<div class="col-50">{{orderdetail.data.OrderType}}</div>
							</div>
							<div class="row">
								<div class="col-50">Payment Type: {{orderdetail.data.PaymentType}}</div>
								<div class="col-50">Order Total: &#x20B9; {{orderdetail.data.OrderTotalPrice}}</div>
							</div>
							
							<div class="row">
								<div class="col-50">EMI Period: {{orderdetail.data.EmiPlanPeriod}}</div>
								<div class="col-50">EMI Amount:{{orderdetail.data.EmiAmount}}</div>
							</div>
						</div>
				</div>
			
			
				<div class="card">
					<div class="card-header">Delivery Address</div>
						<div class="card-content card-content-padding">
							<div class="row">
								<div class="col-100">{{orderdetail.data.addressdetails.AddressLine1}}</div>
								<div class="col-100">{{orderdetail.data.addressdetails.AddressLine2}}</div>
								<div class="col-100">Land Mark: {{orderdetail.data.addressdetails.LandMark}}</div>
								<div class="col-100">City: {{orderdetail.data.addressdetails.City}}</div>
								<div class="col-100">State: {{orderdetail.data.addressdetails.State}}</div>
								<div class="col-100">Pin: {{orderdetail.data.addressdetails.Zipcode}}</div>
								<div class="col-100">Contact No: {{orderdetail.data.addressdetails.ContactNo}}</div>
							</div>
						</div>
					
				</div>
			
		
				<div class="card data-table data-table-collapsible data-table-init">
					<div class="card-header">
						Order Item(s)
					</div>
					<div class="card-content card-content-padding">
						<table>
							<thead>
								<tr>
									<th class="label-cell">Name</th>
									<th class="label-cell">Prescription Required</th>
									<th class="numeric-cell">Qty</th>
									<th class="numeric-cell">Price</th>
									<th class="numeric-cell">Total</th>
								</tr>
							</thead>
							<tbody>
							{{#each orderdetail.data.orderitemdetails}}
								<tr>
									<td class="label-cell">{{OrderItemName}}</td>
									<td class="label-cell">{{IsPrescription}}</td>
									<td class="numeric-cell">{{OrderItemQty}}</td>
									<td class="numeric-cell">&#x20B9; {{OrderItemPrice}}</td>
									<td class="numeric-cell">&#x20B9; {{OrderItemTotalPrice}}</td>
								</tr>
							{{/each}}
							</tbody>
						</table>
					</div>
				</div>
    </div>
  </div>
</template>
<script>
  return {};	
</script>
