<template>
  
  <div class="page" data-name="Profile">
   	<div class="navbar">
		<div class="navbar-inner sliding">
		  <div class="left">
			<a href="#" class="link icon-only panel-open" data-panel="left">
			  <i class="icon f7-icons ios-only">menu</i>
			  <i class="icon material-icons md-only">menu</i>
			</a>
		  </div>
		  <div class="title sliding">Profile</div>
		  <div class="right">
			<a href="#" class="link icon-only panel-open" data-panel="right">
			  <i class="icon f7-icons ios-only">menu</i>
			  <i class="icon material-icons md-only">menu</i>
			</a>
		  </div>
		</div>
	</div>
    <div class="page-content">
		<div class="row">
			<div class="col-100">
				<div class="card">
					<div class="card-content card-content-padding">
						<div class="row">
							<div class="col-30">
								Name
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							{{employename}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Company
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							{{companyname}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Employee ID
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							{{empid}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Contact No
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							{{contactno}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Email ID
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							{{emailid}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Credit Balance
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							&#x20B9; {{creditbalance}}
							</div>
						</div>
						<div class="row">
							<div class="col-30">
								Credit Limit
							</div>
							<div class="col-5">
								:
							</div>
							<div class="col-65">
							&#x20B9; {{creditlimit}}
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</template>
<script>
return {

data: function () {
      // Must return an object
	  currentUser=JSON.parse(localStorage.getItem('currentUser'));
      return currentUser;
    },

}
</script>