<template>
  <div class="page" data-name="home">
   	<div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">My Subscription(s)</div>
      </div>
    </div>
    <div class="page-content">
		<div class="row">
			
			{{#each subscription.orders}}
			<div class="col-100">
				<div class="card">
					<div class="card-header">{{OrderIdentifier}} <span class="orderview"><a href="/orderdetails/{{OrderId}}/{{OrderIdentifier}}/" ><i class="icon f7-icons">eye_fill</i></a></span></div>
						<div class="card-content card-content-padding">
							<div class="row">
								<div class="col-50">{{items.length}} Item(s)</div>
								<div class="col-50">{{OrderType}}</div>
							</div>
							<div class="row">
								<div class="col-50">Payment Type: {{PaymentType}}</div>
								<div class="col-50">Order Total: &#x20B9; {{OrderTotalPrice}}</div>
							</div>
							
							<div class="row">
								<div class="col-50">Subscription Status: {{SubscriptionStatus}}</div>
								
							</div>
							
						</div>
					<div class="card-footer">Order Status:<span class="orderstatus {{OrderStatus}}">{{OrderStatus}}</span></div>
				</div>
			</div>
			{{/each}}
			
		</div>
    </div>
  </div>
</template>
<script>
  return {};	
</script>
